<f:layout name="Default" />

<f:section name="Content">

    <h1>PIN Login</h1>
    <p><small>Hint: try "1234"</small></p>
    <f:form action="authenticate">
        PIN: <f:form.textfield name="__authentication[Wwwision][MfaTest][pin]" />
        <f:form.submit value="login" />
    </f:form>
</f:section>
