<f:layout name="Default" />

<f:section name="Content">

    <h1>SECURE</h1>


    <p><f:link.action action="index" controller="Standard">Back</f:link.action></p>
    <p><f:link.action action="index" controller="SuperSecure">Super secure action (requires MFA)</f:link.action></p>

</f:section>
