<f:layout name="Default" />

<f:section name="Content">

    <h1>Login</h1>
    <p><small>Hint: try "user" and "password"</small></p>
    <f:form action="authenticate">
        <f:form.textfield name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]" />
        <f:form.password name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]" />
        <f:form.submit value="login" />
    </f:form>
</f:section>
