<f:layout name="Default" />

<f:section name="Content">

    <h1>SUPER SECURE!</h1>


    <p><f:link.action action="index" controller="Standard">Back</f:link.action></p>
    <p><f:link.action action="index" controller="Secure">Secure action (requires username login)</f:link.action></p>

</f:section>
