<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MFA Test</title>
        <f:base />
    </head>
    <body>
        <f:flashMessages class="flashmessages" />

        <f:render section="Content" />
    </body>
</html>
