<f:layout name="Default" />

<f:section name="Content">

    <h1>MFA Test</h1>
    <f:security.ifAuthenticated>
        <f:then>
            <h2>You're authenticated with the following roles:</h2>
            <ul>
                <f:for each="{roles}" as="role">
                    <li>{role}</li>
                </f:for>
            </ul>
            <f:form action="logout" controller="Login">
                <f:form.submit value="logout" />
            </f:form>
        </f:then>
        <f:else>
            <h2><em>not authenticated</em></h2>
        </f:else>
    </f:security.ifAuthenticated>

    <p><f:link.action action="index" controller="Secure">Secure action (requires username login)</f:link.action></p>
    <p><f:link.action action="index" controller="SuperSecure">Super secure action (requires MFA)</f:link.action></p>

</f:section>
